/* Imports Google Font */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush');

.fade-out {
  opacity: 1;
  transition: opacity 1500ms ease;
} .hidden {
  display: none;
}

/* Main Form Content */
.main-contact-div {
  display: flex;
  justify-content: center;
  font-family: caveat brush;
  background-color: rgb(253, 234, 255);
  min-height: 100vh;
} .form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5%;
} .form-div h3 {
  margin: 0;
  font-size: 25px;
} form h1 {
  font-size: 45px;
  text-align: center;
} .first-last-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
} .first-last-div h3 {
  width: 90%;
} .last-div {
  margin-left: 2.5%;
} .input-div {
  width: 95%;
} form input, form textarea {
  font-size: 30px;
  font-family: caveat brush;
  font-weight: 800;
  padding: 5px;
} .form-header {
  margin: 0px 0 30px;
} #message-from {
  resize: none;
  height: 120px;
  flex-wrap: wrap;
} form input {
  border: 1px solid rgb(118, 118, 118);
  border-radius: 5px;
} .form-subheader {
  text-align: left;
  font-size: 25px;
  padding: 10px;
} form {
  max-width: 616px;
  display: block;
  justify-content: center;
} 


/* Submit Button */
.submit-div {
  display: flex;
  justify-content: center;
} .submit-div button {
  font-family: caveat brush;
  font-size: 40px;
  text-align: center;
  background-color: rgb(225, 150, 255);
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  transition-duration: 300ms;
} .submit-div button:hover {
  cursor: pointer;
  background-color: rgb(212, 102, 255);
  transition-duration: 300ms;
}

/* Contact Bottom */
.contact-links h1 {
  margin: 10px 0;
  text-align: center;
} .contact-bottom-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} .contact-links {
  text-decoration: none;
  width: fit-content;
  color: black;
}


.active-subject {
  background-color: white;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 5px;
} .inActive-subject {
  background-color: rgb(228, 228, 228);
  border: 1px solid rgb(118, 118, 118);
} .subject-input {
  width: 90%;
  height: 41px;
  padding: 5px;
  resize: none;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 5px;
} .subject-div {
  display: flex;
} .dropdown-subject {
  width: 10%;
  height: fit-content;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: white;
} .dropdown-subject h1 {
  margin: 0;
  border-radius: 5px;
  font-family: Roboto, Helvetica, sans-serif;
  border: none;
}


.active-dropdown h1 {
  transform: rotate(180deg);
} 


.subject-dropdown-main {
  margin: 0 15px 15px 15px;
  display: flex;
  justify-content: right;
} .subject-dropdown-main h1 {
  margin: 0 20px 0 0;
  width: 100%;
  border: 1px solid black;
} .subject-dropdown-mid {
  border: 1px solid black;
  position: absolute;
  margin-top: -48px;
  background-color: rgb(255, 255, 255);
}

.subject-dropdown-main h1:hover {
  cursor: pointer;
} .dropdown-subject:hover {
  cursor: pointer;
  user-select: none;
}


.red-text {
  color: red;
}


@media screen and (max-width: 750px) {
  .first-last-div {
    flex-direction: column;
  } 

  .form-div {
    min-width: 80vw;
  } .first-last-div input {
    width: 100%;
  } #first-name-from {
    margin-right: 0;
    min-width: 100%;
  }
  
  .last-div {
    margin: 0;
  }
}


@media screen and (max-width: 500px) {
  .contact-bottom-links h1 {
    font-size: 35px;
  } .form-div h3 {
    margin: 0;
    font-size: 20px;
  } .first-last-div input {
    font-size: 25px;
  } .input-div input {
    font-size: 25px;
  } .submit-div button {
    font-size: 30px;
  } 
}