/* Imports Google Font */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush');

/* Main Overall Values */
.main-home-div {
  background-color: rgb(253, 234, 255);
} .main-home-div section {
  display: flex;
  justify-content: space-around;
  padding: 0px 40px 60px 40px;
} .main-home-div section .article {
  width: 50%;
  max-height: 500px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  text-decoration: none;
  color: black;
} .article-img {
  width: 100%;
  transition-duration: 400ms;
} .main-home-div section .article figcaption {
  position: absolute;
  font-size: 50px;
  font-family: caveat brush;
  font-weight: 800;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
} .article-img:hover {
  transition-duration: 400ms;
  opacity: 1;
  cursor: pointer;
}

/* Left or Right Articles in Each Sections */
.left-a {
  margin-right: 25px;
} .right-a {
  margin-left: 25px;
}


/* Changes From Desktop View to Mobile View */
@media screen and (max-width: 1150px) {
  .main-home-div section {
    flex-direction: column;
    display: flex;
  } .main-home-div section .article {
    width: 100%;
    margin-left: 0;
  } .right-a {
    margin-top: 60px;
  }
}

@media screen and (max-width: 550px) {
  .main-home-div section {
    padding: 0 20px 30px;
  } .right-a {
    margin-top: 30px;
  }
}

@media screen and (max-width: 450px) {
  .main-home-div section {
    padding: 0 15px 15px;
  } .right-a {
    margin-top: 15px;
  }
}