@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush');
.hidden {
  height: 0; 
  width: 0; 
  overflow: hidden;
  opacity: 0;
}

header {
  justify-content: space-between;
  display: flex;
  min-height: 110px;
  height: 110px;
  align-items: center;
  padding: 25px 50px;
  font-family: caveat brush;
  background-color: rgb(253, 234, 255);
} header nav {
  display: flex;
  font-size: 16px;
  width: 70%;
  margin-right: -125px;
  justify-content: right;
} .nav-links {
  text-decoration: none;
  color: black;
} .logo-name-div {
  margin-left: 10px;
} .logo-name-div h1 {
  font-size: 45px;
  margin: 0;
} header nav h2 {
  margin: 0 10px;
} .logo-nav {
  text-decoration: none;
  color: black;
} 


.logo-name-div:hover {
  cursor: pointer;
}

header nav h2:hover {
  cursor: pointer;
}

/* Active/Inactive Navigation Links */
.active {
  opacity: 1;
} .inactive {
  opacity: .8;
  transition-duration: 300ms;
} .inactive:hover {
  opacity: 1;
  transition-duration: 300ms;
} .inactive-categories {
  opacity: .8;
  transition: translate 1000ms ease;
  transition-duration: 300ms;
} .active-categories {
  opacity: 1;
  position: relative;
  transition-duration: 1500ms;
  translate: -40vw;
  color: black;
} .not-hidden {
  transition-delay: 600ms;
  transition-duration: 100ms;
} 



.hidden-drop {
  height: 0; 
  width: 0; 
  overflow: hidden;
  opacity: 0;
  translate: 43vw;
} .active-drop {
  opacity: .8;
  position: relative;
  translate: -40vw;
  transition: translate 1500ms ease;
} .active-drop:hover {
  opacity: 1;
  transition-duration: 300ms;
}

@media screen and (max-width: 1500px) {
  .active-drop {
    translate: -35vw;
  } .active-categories {
    translate: -35vw;
  }
}

@media screen and (max-width: 1350px) {
  .active-drop {
    translate: -30vw;
  } .active-categories {
    translate: -30vw;
  }
}

@media screen and (max-width: 1225px) {
  .active-drop {
    translate: -25vw;
  } .active-categories {
    translate: -25vw;
  }
}