/* Imports Google Font */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush');

/* Allows Any Element to Become Hidden */
.hidden {
  height: 0; 
  width: 0; 
  overflow: hidden;
  opacity: 0;
}

/* Header Base Values */
header {
  justify-content: space-between;
  display: flex;
  min-height: 110px;
  height: 110px;
  align-items: center;
  padding: 25px 50px;
  font-family: caveat brush;
  background-color: rgb(253, 234, 255);
} .logo-name-div {
  margin-left: 10px;
  z-index: 10;
} .logo-name-div h1 {
  font-size: 45px;
  margin: 0;
} header nav h2 {
  margin: 0 10px;
} .logo-nav {
  text-decoration: none;
  color: black;
} 

/* Cursor Pointer for Header Items */
.logo-name-div:hover {
  cursor: pointer;
} 

/* Mobile Dropdown */
.navigation-dropdown {
  position: fixed;
  display: none;
  justify-content: space-around;
  flex-direction: column;
  height: 40px;
  margin-top: 10px;
  padding: 0;
  margin: 0;
  transition-duration: 300ms;
  top: 55px;
  right: 55px;
  z-index: 10;
} .navigation-dropdown div {
  border: 1px solid black;
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 10px;
  transition-duration: 300ms;
} #nav-dropdown-1 {
  transform: rotate(0.125turn) translate(12px, 12px);
  transition-duration: 300ms;
  margin-top: -12px;
} #nav-dropdown-2 {
  display: none;
  transition-duration: 300ms;
} #nav-dropdown-3 {
  transform: rotate(-0.125turn) translate(2px, -2px);
  transition-duration: 300ms;
  margin-top: -12px;
} 


.active-mobile-nav, .inactive-mobile-nav {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 9;
  opacity: 0;
  height: 0; 
  width: 0; 
}




@media screen and (max-width: 1150px) {
  .desktop-nav {
    display: none;
    height: 0; 
    width: 0; 
    overflow: hidden;
  } header {
    justify-content: left;
  } .navigation-dropdown {
    display: flex;
  } .active-mobile-nav {
    height: 500vh; 
    width: 100%; 
    opacity: 1;
    transition: width 100ms ease;
  } .active-mobile-logo {
    position: fixed;
    top: 37px;
  }
}

@media screen and (max-width: 550px) {
  header {
    padding: 10px 15px;
  } .navigation-dropdown {
    top: 45px;
    right: 45px;
  }
}

