/* Imports Google Font */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush');



.hidden {
  height: 0; 
  width: 0; 
  overflow: hidden;
  opacity: 0;
}



nav {
  display: flex;
  font-size: 16px;
  justify-content: right;
  margin: 0;
} .nav-links {
  text-decoration: none;
  color: black;
} .instagram-logo {
  display: flex;
  align-items: center;
  margin: 0 10px;
} nav h2:hover {
  cursor: pointer;
}


/* Active/Inactive Navigation Links/Category Transition */
.active {
  opacity: 1;
} .inactive {
  opacity: .8;
  transition-duration: 300ms;
} .inactive:hover, .inactive-categories:hover {
  opacity: 1;
  transition: opacity 300ms ease;
} .inactive-categories {
  opacity: .8;
  translate: 0;
  transition: translate 1500ms ease;
  transition: opacity 300ms ease;
} .active-categories {
  opacity: 1;
  position: relative;
  transition-duration: 1500ms;
  translate: -31vw;
  color: black;
} .not-hidden {
  transition-delay: 600ms;
  transition-duration: 100ms;
} 


/* Category Visability and Transition */
.hidden-drop {
  height: 0; 
  width: 0; 
  overflow: hidden;
  translate: 43vw;
} .active-drop {
  opacity: .8;
  position: relative;
  translate: -31vw;
  transition: translate 1500ms ease;
} .active-drop:hover {
  opacity: 1;
} .dropdown-div {
  height: 0; 
  width: 0; 
  overflow: hidden;
  display: flex;
} .active-dropdown-div {
  display: flex;
}


/* Different Screen Views for Navigation Menu */
@media screen and (max-width: 1600px) {
  .active-drop {
    translate: -29vw;
  } .active-categories {
    translate: -29vw;
  }
} @media screen and (max-width: 1475px) {
  .active-drop {
    translate: -24vw;
  } .active-categories {
    translate: -24vw;
  }
} @media screen and (max-width: 1350px) {
  .active-drop {
    translate: -21vw;
  } .active-categories {
    translate: -21vw;
  }
} @media screen and (max-width: 1225px) {
  .active-drop {
    translate: -17vw;
  } .active-categories {
    translate: -17vw;
  }
}